<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<contextName>SUNTOMOR-SPRINGBATCH-ADMINSERVICE</contextName>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%contextName] %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<root level="debug">
		<appender-ref ref="stdout" />
	</root>

</configuration>